.tablink {
    background-color: rgb(0, 0, 0);
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 10%;
}

.tablink:hover {
    background-color: #777;
}

.tabContent {
    color:black;
    display: none;
    padding: 50px;
    text-align: center;
    width: 25%;
}